* {
  box-sizing: border-box;
}

body {
  height: auto;
  font-family: 'Roboto', sans-serif;
}

main {
  width: 80%;
  margin: auto;
  max-width: 1200px;
}

#previewWrapper {
  display: none;
  text-align: center;
  zoom: 0.8;
  height: 60vh;
  width: 60vw;
  margin: 0 auto;
}

#previewContainer {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}
.previewcontrols {
  position: relative;
}

#sessionContainer {
  margin: 0 auto;
  height: 60vh;
  width: 60vw;
}

#finalContainer {
  display: none;
  text-align: center;
}

#sessionNameRequired,
#nameRequired,
#passcodeLength {
  color: red;
  display: none;
}

.header {
  margin-top: 50px;
  text-align: center;
}

.header img {
  width: 50px;
}

.joinContainer {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}

.joinContainer input {
  border: 1px solid gray;
}

.joinContainer input,
.joinContainer button,
#joinSessionButton,
select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
}

.joinContainer button,
#previewWrapper button {
  cursor: pointer;
  background-color: #0751e4;
  border: none;
  color: #ffffff;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.joinContainer button:hover,
#previewWrapper button:hover {
  background-color: #003cb3;
}

.joinContainer small {
  text-align: center;
  display: block;
}

.joinContainer small a {
  color: #0751e4;
}
